@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

*:before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*fix margin and padding width*/
}
    /*overflow: hiden; - скрывает, элементы
    за пределами блока*/

    /*padding: up, right, down, left
      margin: up, right, down, left

      padding +x
      margin +-x 
    */

.header {
    padding: 20px 20px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fff4f7;
}

.search-input {
    width: 265px;
    height: 40px;
    background-color: #ffe7ef;
    color: #a7a7a7;
    padding: 0 32px;
    border: 1px solid #fff;
    border-radius: 50px;
    box-shadow: 2px 4px 8px #c2c4cc;
    text-shadow: 0 2px 4px #c2c4cc;
}

::placeholder { color: #a7a7a7; }

.search-icon {
    position: absolute;
    top: 32px;  
    left: 33px;
}

.filters-container {
    width: 40px;
    height: 40px;
    background-color: #ffe7ef;
    position: absolute;
    top: 20px;
    left: 295px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px #c2c4cc;
}

.filters-icon {
    position: absolute;
    top: 11px;
    left: 11px;
    opacity: 0.7;
}

.menu-container {
    width: 40px;
    height: 40px;
    background-color: #ffe7ef;
    position: absolute;
    top: 20px;
    left: 350px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px #c2c4cc;
}

.menu-icon {

}
